body {
    margin: 0;
   text-align: center;
    background-color: rgb(58, 58, 58);
    font-family: sans-serif;
}
p{
    font-size: larger;
}
nav{
    background-color: rgb(48, 47, 47);
    
    width: 100%;
    top: 0px;
    left: 0px;
   
}
.top button:active,
.top button:hover { 
    background-color: rgb(32, 32, 32);
}
a{
    text-decoration: none;
    color: initial;
}
.logo {
    
    height: 50px;
    padding: 0 ;
    text-align: left;
    
}
.main img{
    width: 300px;
    float: left;
    
}
.top button{
    cursor: pointer;
    display: inline;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height: 80px;
    border: 0px;
    background-color: transparent;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
               
                
    }
.main img{
   padding-right: 100px;
    
}
.main h1{
    font-weight: bold;
    padding: 10px;
}

 .main {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
    
}
/* .h_logo{
    display: block;
    padding: 10px;
    text-align: center;
    width: 500px;
} */
.main p{
    text-align: center;
}
.div-grid img{
    padding-right: 100px;
    width: 300px;
    height: 300px;
    text-align: left;
    border-radius: 20px;
 }
 .div-grid button{
    width: 300px;
   padding: 10px;
 }
 .div-grid a{
    list-style-type: none;  
    text-decoration: 0; 
    color: black;
}
.div-p{
    max-width: 100%;
    text-align: justify;
    margin-right: 50%;
}
.p_kk button{
    cursor: pointer;
}
.p_k button{
    cursor: pointer;
}
.p_kk{
        margin-left: 50%;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
}
.div-grid {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px;
        background-color: rgb(20, 20, 20);
        color: white;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
}
.p_k img{
    padding-left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
 }
 .p_k p,
 .p_k h1{
    margin-left: 500px;
    margin-right: 500px;
 }
 .div-grid-grey button{
    width: 300px;
    padding: 10px;
 }
.div-grid-grey {
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div-pp{
    max-width: 100%;
    text-align: justify;
    margin-left: 50%;
}
.p_k{
    margin-right: 50%;
    text-align: right;
}
.p_k a{
    list-style-type: none;  
    text-decoration: 0; 
    color: black;
}

.footer{
   background-color: rgb(48, 47, 47);
   box-sizing: border-box;
}
ul{
    list-style: none;
}
.bottom{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 70px 0;

}

.line h1{
    color: white;
 text-transform: uppercase;
 position: relative;
}
.line h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(255, 0, 0);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.line{
    text-align: left;
    width: 30%;
    padding: 0 15px;
} 
.line a:hover{
    color: rgb(36, 36, 36);
}
.bottom a{
    display: block;
    list-style-type: none;  
    text-decoration: 0;
    color: rgb(102, 102, 102);
    display: list-item;
}
.button-img img{
    width: 200px;
}
.button-img:hover{
    background-color: rgb(63, 63, 63);
}
.button-img{
    padding: 50px;
    background-color: transparent;
    border: none;
}
.build1-img{
    width: 200px;
}
.build1-button{
    margin-top: 0;
}
.div-link{
    font-size: larger;
    font-weight: bold;
    text-align: left;
}
.a-spat{

    padding: 50px;
    top: 50px;
  
}
.div-grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 24%;
    width: 1000px;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

.movingDiv {
    position: relative;
    width: 200px;
    height: 200px;
}
.idkmahn{
    padding: 20px;
    color: white;
    border-right: 1px solid white;
}
.idkmahn2{
  padding: 20px;
  color: white;
border-left: 1px solid white;
}
.div-imgg{
    
    text-align: center;
    background-image: url(house.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.idkkkkk{
    background-size: cover;
    height: 150px;
    background-image: url(house.webp) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    filter: brightness(50%);
}
  .div-gps{
    width: 50px;
}
.div-onas{
   padding: 50px;
    margin: 0 35%;
    text-align: center;
}
.div-onas h1{
    text-align: center;
}
  .div-build{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    text-align: left;
    margin: 0 20%;
    padding: 20px;
}
  .grid-img{
    text-align: right;
    padding: 20px;
}
.div-border{
    filter: brightness(100%);
    border-right: 2px solid white;
}
.grid-text{
  padding: 20px;
}
.idka{
    background-color: rgb(20, 20, 20);
}
.kontakt-grid{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20% 0 20%;
}
.kontakt-house{
    border-radius: 10px;
    width: 500px;
}
.kontakt-location{
    padding: 20px;  
    padding-top: 15%;
}
.kontakt1{
    color: white;
    background-color: rgb(20, 20, 20);
}
.kontakt-text{
    padding: 5px;
}
.div-other{
    color: white;
    padding: 50px;
    font-size: larger;
}
.div-3obrazky{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 25%;
}
.div-3obrazky img{
    width: 150px;
}
.behind-div-3obrazky{
    background-color: rgb(20, 20, 20);
    padding: 20px;
}